<a href="https://colab.research.google.com/github/Hefajt/Machine-Learning/blob/main/Multiple_LR.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
df=pd.read_csv("/content/drive/MyDrive/csv/Book2.csv")
df

   area  bedrooms  age  price
0  2600       3.0   20   5500
1  3000       4.0   15   5650
2  3200       NaN   18   6100
3  3600       3.0   19   6200
4  4000       2.0    8   3000
5  4200       3.0   21   6500
6  4400       2.0   17   6000
7  4500       3.0   23   6200
8  4800       4.0   25   7000
9  5000       5.0   30   7200

In [ ]:
import math
median_bedrooms = math.floor(df.bedrooms.median())
median_bedrooms

3

In [ ]:
df.bedrooms = df.bedrooms.fillna(median_bedrooms)
df

   area  bedrooms  age  price
0  2600       3.0   20   5500
1  3000       4.0   15   5650
2  3200       3.0   18   6100
3  3600       3.0   19   6200
4  4000       2.0    8   3000
5  4200       3.0   21   6500
6  4400       2.0   17   6000
7  4500       3.0   23   6200
8  4800       4.0   25   7000
9  5000       5.0   30   7200

In [ ]:
from sklearn import datasets, linear_model
reg = linear_model.LinearRegression()

In [ ]:
reg.fit(df[['area','bedrooms','age']],df.price)

LinearRegression()

In [ ]:
reg.coef_

array([-1.61336263e-01, -5.73474841e+01,  1.91740188e+02])

In [ ]:
reg.intercept_

2994.4557804020033

In [ ]:
reg.predict([[3000,3,40]])

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:446: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  "X does not have valid feature names, but"

array([10008.01205273])